.card {
    background-color: rgb(226, 228, 228);
    width: 400px;
    height: 200px;
    border-radius: 20px;
    box-shadow: 3px 3px 8px #888;
}

.card-content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}